*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
}

.frame{
    width: 50vw;
    height: 40vh;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
}

.navigation{
    display: flex;
    border: 1px solid red;
}